@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Couleurs principales */
  --color-anthracite: rgb(30, 30, 30);
  --color-accentuation: rgb(201, 178, 234);

  /* Animation Background & son dark-mode*/
  --bg-gradient-dark: linear-gradient(
    90deg,
    hsla(0, 0%, 12%, 1) 0%,
    hsla(283, 33%, 46%, 1) 100%
  );

  --bg-gradient-light: radial-gradient(
    circle,
    hsla(265, 57%, 81%, 1) 0%,
    hsla(283, 33%, 46%, 1) 100%
  );

  /* (Optionnel) Animation lente pour donner vie au fond */
  --animate-gradientShift: gradientShift 20s ease infinite;
  --bg-size-400: 400% 400%;

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

/* Mode clair par défaut */
:root {
  --bg-gradient: var(--bg-gradient-light);
}

/* Mode sombre */
.dark {
  --bg-gradient: var(--bg-gradient-dark);
}

/* Classe à appliquer au conteneur principal */
.moving-gradient-bg {
  background-image: var(--bg-gradient);
  background-size: var(--bg-size-400);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  animation: var(--animate-gradientShift);
  transition: background 1s ease-in-out;
}

/* Search input Navbar */
.search-input {
  @apply relative;
}
.search-input::after {
  content: "";
  @apply block absolute h-0.5 bg-black/60;
  width: 80%;
}
@media (max-width: 1024px) and (min-width: 640px) {
  .search-input::after {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .search-input::after {
    width: 40%;
  }
}

/* Titres & text-shadow */
.title {
  @apply text-2xl md:text-6xl font-bold my-5 lg:my-10 text-center text-black dark:text-white;
}
.text-shadow-hero {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35), 6px 6px 18px rgba(0, 0, 0, 0.25);
}
.dark .text-shadow-hero {
  text-shadow: 2px 2px 6px rgba(133, 133, 133, 0.8),
    0 0 2px rgba(255, 255, 255, 0.22);
}

/* Swiper - Carrousel dans la section Tendance */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper-slide img {
  display: block;
  width: 100%;
}

/* Loader */
.loader {
  --s: 40px;
  height: calc(var(--s) * 0.9);
  width: calc(var(--s) * 5);
  --v1: transparent, #000 0.5deg 108deg, #0000 109deg;
  --v2: transparent, #000 0.5deg 36deg, #0000 37deg;
  -webkit-mask: conic-gradient(
      from 54deg at calc(var(--s) * 0.68) calc(var(--s) * 0.57),
      var(--v1)
    ),
    conic-gradient(
      from 90deg at calc(var(--s) * 0.02) calc(var(--s) * 0.35),
      var(--v2)
    ),
    conic-gradient(
      from 126deg at calc(var(--s) * 0.5) calc(var(--s) * 0.7),
      var(--v1)
    ),
    conic-gradient(from 162deg at calc(var(--s) * 0.5) 0, var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor, destination-over;
  mask-composite: exclude, add;
  -webkit-mask-repeat: repeat-x;
  background: linear-gradient(#ffb940 0 0) left/0% 100% #ddd no-repeat;
  animation: l20 2s infinite linear;
}
@keyframes l20 {
  90%,
  100% {
    background-size: 100% 100%;
  }
}

/* Pellicule section Critiques*/
.filmstrip::before,
.filmstrip::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  background: url("/assets/filmstrip.svg") repeat-x;
  background-size: 290px 40px;
  z-index: 5;
}
.filmstrip::before {
  top: 0;
}
.filmstrip::after {
  bottom: 0;
}
.pellicule-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* Bulle section */
.bubble::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid white;
}

/* Scroll personnalisé */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(201, 178, 234);
  border-radius: 10px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(201, 178, 234) transparent;
}
